<div data-role="view" data-title="About" data-layout="main" data-model="app.aboutView" data-show="app.aboutView.onShow" data-after-show="app.aboutView.afterShow" id="aboutViewScreen" class="screen">
    <div class="about-view screen__content screen__content--about" data-bind="invisible:error">
        <div class="icon-group">

            <div class="app-icon">
                <img src="resources/beerfest-icon-10241024.png">
            </div>


            <div class="app-details">
                <h2>Beerfest Australia</h2>
                <h4>Version 1.0.7</h4>
            </div>
        </div>

        <p>Each of our Beer Festivals hosts huge variety of the very best Craft Brewers and Cider-makers Australia-wide, with over 250 Brews and Ciders to sample. Yes, there will be live music, comedy and other forms of entertainment throughout the entire
            event. Please visit our set times closer to the date for detailed entertainment information.</p>

        <div class="button-group button-group-vertical">
            <a data-role="button" data-rel="external" href="mailto:info@beerfestivals.com.au">Contact us</a>
            <a data-role="button" data-rel="external" href="#" onclick="app.openLink('https://www.facebook.com/BeerfestAus/');">Like us on Facebook</a>
            <a data-role="button" data-rel="external" href="#" onclick="app.openLink('https://twitter.com/BeerFestivalAus');">Follow us on Twitter</a>
        </div>
        <!-- START_CUSTOM_CODE_aboutViewModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

        <!-- END_CUSTOM_CODE_aboutViewModel -->
    </div>

    <!-- START_CUSTOM_CODE_aboutView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_aboutView -->
</div>