<div data-role="view" data-title="FremantleBeerfest" data-layout="main" data-model="app.fremantleBeerfest" data-show="app.fremantleBeerfest.onShow" data-after-show="app.fremantleBeerfest.afterShow" id="fremantleBeerfestScreen" class="screen">
    <div id="fremantleBeerfestModel" class="form-view screen__content screen__content--form add-item-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">
                    <div id="fremantleEventInfoField" class="field field--link editableListItem">

                        <div class="field__label">Event Info</div>

                        <div class="field__content">

                            <a href="#components/homeView/view.html" class="link">Event Info</a>

                        </div>
                    </div>
                </li>
                <li class="form-content-item">
                    <div id="fremantleTicketsField" class="field field--link editableListItem">

                        <div class="field__label">Tickets</div>

                        <div class="field__content">

                            <a href="#components/homeView/view.html" class="link">Tickets</a>

                        </div>
                    </div>
                </li>
                <li class="form-content-item">
                    <div id="fremantleStallHoldersField" class="field field--link editableListItem">

                        <div class="field__label">Stall Holders</div>

                        <div class="field__content">

                            <a href="#components/stallHolder/view.html" class="link">Stall Holders</a>

                        </div>
                    </div>
                </li>
            </ul>

            <div class="button-group">
            </div>
        </form>
        <!-- START_CUSTOM_CODE_fremantleBeerfestModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

        <!-- END_CUSTOM_CODE_fremantleBeerfestModel -->
    </div>

    <!-- START_CUSTOM_CODE_fremantleBeerfest -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_fremantleBeerfest -->
</div>